Odinal encoding 
---------------------|

In [53]:
import datetime

In [56]:
a = datetime.datetime.today()

In [57]:
a

datetime.datetime(2020, 10, 1, 16, 11, 51, 778931)

In [58]:
a-datetime.timedelta(1)

datetime.datetime(2020, 9, 30, 16, 11, 51, 778931)

In [59]:
a-datetime.timedelta(4)

datetime.datetime(2020, 9, 27, 16, 11, 51, 778931)

In [60]:
b = [a-datetime.timedelta(x) for x in range(1,15)]

In [61]:
b

[datetime.datetime(2020, 9, 30, 16, 11, 51, 778931),
 datetime.datetime(2020, 9, 29, 16, 11, 51, 778931),
 datetime.datetime(2020, 9, 28, 16, 11, 51, 778931),
 datetime.datetime(2020, 9, 27, 16, 11, 51, 778931),
 datetime.datetime(2020, 9, 26, 16, 11, 51, 778931),
 datetime.datetime(2020, 9, 25, 16, 11, 51, 778931),
 datetime.datetime(2020, 9, 24, 16, 11, 51, 778931),
 datetime.datetime(2020, 9, 23, 16, 11, 51, 778931),
 datetime.datetime(2020, 9, 22, 16, 11, 51, 778931),
 datetime.datetime(2020, 9, 21, 16, 11, 51, 778931),
 datetime.datetime(2020, 9, 20, 16, 11, 51, 778931),
 datetime.datetime(2020, 9, 19, 16, 11, 51, 778931),
 datetime.datetime(2020, 9, 18, 16, 11, 51, 778931),
 datetime.datetime(2020, 9, 17, 16, 11, 51, 778931)]

In [62]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [63]:
df = pd.DataFrame(b)
df.head()

                           0
0 2020-09-30 16:11:51.778931
1 2020-09-29 16:11:51.778931
2 2020-09-28 16:11:51.778931
3 2020-09-27 16:11:51.778931
4 2020-09-26 16:11:51.778931

In [64]:
df.columns=['Times']

In [65]:
df.head()

                       Times
0 2020-09-30 16:11:51.778931
1 2020-09-29 16:11:51.778931
2 2020-09-28 16:11:51.778931
3 2020-09-27 16:11:51.778931
4 2020-09-26 16:11:51.778931

In [74]:
df['week_days_list'] = df['Times'].dt.weekday_name

In [76]:
df.head()

                       Times week_days_list
0 2020-09-30 16:11:51.778931      Wednesday
1 2020-09-29 16:11:51.778931        Tuesday
2 2020-09-28 16:11:51.778931         Monday
3 2020-09-27 16:11:51.778931         Sunday
4 2020-09-26 16:11:51.778931       Saturday

In [77]:
dictionary={'Monday':1,'Tuesday':2,'Wednesday':3,'Thursday':4,'Friday':5,'Saturday':6,'Sunday':7
    
    
}

In [78]:
dictionary

{'Monday': 1,
 'Tuesday': 2,
 'Wednesday': 3,
 'Thursday': 4,
 'Friday': 5,
 'Saturday': 6,
 'Sunday': 7}

In [80]:
df['week_day_list_changed'] = df['week_days_list'].map(dictionary)

In [81]:
df.head()

                       Times week_days_list  week_day_list_changed
0 2020-09-30 16:11:51.778931      Wednesday                      3
1 2020-09-29 16:11:51.778931        Tuesday                      2
2 2020-09-28 16:11:51.778931         Monday                      1
3 2020-09-27 16:11:51.778931         Sunday                      7
4 2020-09-26 16:11:51.778931       Saturday                      6

we have assigned ranks to the week days