# count / frequency for multiple categories

For multiple categories in a feature we use a concept called OneHotEncoding ..

we can also use a concept called count / frequency 

we will find the count of the individual repeated categories in a feature and assigning the value to the feature 

In such a way we can convert category to the numeric

Count/Frequency — Replace the category value with count of that category

In [39]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [40]:
df = pd.read_csv("C:/Users/korla/Desktop/krish codes/Feature Engineering/Feature-Engineering-Live-sessions-master/mercedes.csv")
df.head()

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0

Now considering one column and finding the numeric values based on count / frequency

In [41]:
df[['X1','X2']].head()

  X1  X2
0  v  at
1  t  av
2  w   n
3  t   n
4  v   n

In [42]:
df.X1.head()

0    v
1    t
2    w
3    t
4    v
Name: X1, dtype: object

In [43]:
len(df.X1)

4209

In [44]:
len(df.X1.unique())

27

this says there are 27 categorical variales which are repeating again and again

In [45]:
df.X1.value_counts().head(20)

aa    833
s     598
b     592
l     590
v     408
r     251
i     203
a     143
c     121
o      82
w      52
z      46
u      37
e      33
m      32
t      31
h      29
f      23
y      23
j      22
Name: X1, dtype: int64

value_counts() says individual repeating values count

In [46]:
count_dict = df.X1.value_counts().to_dict()
count_dict

{'aa': 833,
 's': 598,
 'b': 592,
 'l': 590,
 'v': 408,
 'r': 251,
 'i': 203,
 'a': 143,
 'c': 121,
 'o': 82,
 'w': 52,
 'z': 46,
 'u': 37,
 'e': 33,
 'm': 32,
 't': 31,
 'h': 29,
 'f': 23,
 'y': 23,
 'j': 22,
 'n': 19,
 'k': 17,
 'p': 9,
 'g': 6,
 'ab': 3,
 'd': 3,
 'q': 3}

In [47]:
# before mapping

df.X1.head()

0    v
1    t
2    w
3    t
4    v
Name: X1, dtype: object

In [48]:
df.X1 = df.X1.map(count_dict)
df.head()

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,408,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,31,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,52,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,31,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,408,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0

In [49]:
# After mapping
df.X1.head()

0    408
1     31
2     52
3     31
4    408
Name: X1, dtype: int64

In [ ]:
# similarlly we can do it for all the column feature